html {
  background: radial-gradient(#000011, #000033);
  height: 100%;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
  width: 150px;
  -webkit-filter: drop-shadow(12px 12px 7px #FF44FF);
  filter: drop-shadow(0px 0px 75px #FF44FF);
}

.logo-text {
  font-weight: lighter;
  font-size: 15px;
  color: #DDDDDD;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px #FF44FF;
}

.logo-text-main {
  font-size: 28px;
}

.logo-text-sub {
  font-size: 14px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-text {
  text-align: center;
}

.align-middle {
  vertical-align: middle;
}
